.card {
	$card: &;
	position: relative;
	width: 15rem;
	max-width: 70%;
	height: 20em;
	margin: 2em auto;

	&:hover, &:active {
		#{$card}__front {
			transform: perspective(1000px) rotateY(-180deg);
		}

		#{$card}__back {
			transform: perspective(1000px) rotateY(0deg);
		}
	}

	%card-side{
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		backface-visibility: hidden;
		border-radius: 15px;
	}

	&__front {
		@extend %card-side;
		transform: perspective(1000px) rotateY(0deg);
		@include transition(transform 300ms ease-in);

		&::before {
			z-index: 5;
			position: absolute;
			width: 50px;
			height: 50px;
			background: $light-bg;
			@include flexbox();
			@include justify-content(flex-end);
			@include align-items(flex-end);
			content: '+';
			padding: 0 1em .5em 0;
			font-size: 1.5em;
			bottom: 0;
			right: 0%;
			border-top-left-radius: 100%;
			font-weight: bold;
		}

		#{$card}__photo {
			height: 100%;
			position: relative;

		}
	}

	&__back {
		@extend %card-side;
		background: $light-bg;
		position: absolute;
		transform: perspective(1000px) rotateY(180deg);
		@include transition(transform 300ms ease-in);
	}
}

.social {
	&__icon {
		width: 3em;
		height: 3em;
		margin: 0 0.3em;
		@include filter(grayscale, 100%);
		@include transition(filter 300ms ease-in);

		&:hover, &:active {
			@include filter(grayscale, 0);
		}
	}
}

.phone {
	margin: 1em .5em;

	&__icon {
		margin-right: 0.5em;
		fill: $primary-dark;
		height: 2em;
		width: 2em;
	}

	&__number {
		font-size: 1.4em;
	}

	&:hover, &:active {
		@include filter(brightness, 150%);
	}
}
