@font-face {
  font-family: 'Noto Serif';
  src: url('../assets/fonts/Noto_Serif/NotoSerif-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'QuickSand';
  src: url('../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
};

  body, html{
    overflow-x: hidden;
  }

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'QuickSand';
}

p{
  font-size:calc(.8em + .5vw);
  font-weight: regular;
}
h2{
  font-size:calc(1.5em + .5vw)
}

h1, h2, h3{
  font-family: 'Noto Serif';
  font-weight: 500;
}
h1{
  font-size: calc(1em + 10vw);
  text-transform: uppercase;
  text-align: center;
  line-height: .95;
  margin-bottom: 4rem;

  @include md {
    font-size: calc(1.3em + 8vw);
  }

  @include lg {
    font-size: calc(4em + 2vw);
  }

  @include xlg {
    font-size: calc(4.5em + 1vw);
  }
}

.text-high--blue{
  color: $highlited-blue;
  font-weight: bold;
}
.text-high{
  font-weight: bold;
}

.m-tb{
  margin: 1.5em 0;
}

.mt-1{
  margin-top: 1em;
}
.mt-3{
  margin-top: 3em;
}

.column{
	@include flexbox();
	@include flex-direction(column);
	@include justify-content(center);
	@include align-items(center);
}

.row{
	@include flexbox();
	@include justify-content(center);
	@include align-items(center);
}

.bg--blue {
	background: $highlited-blue;
	margin-bottom: 4rem;
	max-height: 10vh;
}
.fill--light {
	fill: $light-bg;
}
.bg--red {
	background: $highlited-red;
	height: 60px;
}
.fill--primary-dark {
	fill: $primary-dark;
}

%reset-Button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}
