.quote {
	@include flexbox;
	@include justify-content(center);
	@include align-items(center);
	margin: 0 0;
	padding: 0;

	&__box {
		width: 6em;
		max-width: 10vw;
		//border-radius: 25%;
		margin: 0 10px;
		padding: 5px;
		@include flexbox;
		@include justify-content(center);
		@include align-items(center);
	}

	&__icon {
		height: 75%;
		width: 75%;
	}

	&__text {
		width: max-content;
		margin: 0 10px;
		font-weight: bold;
		font-size: calc(1.4em + .5vw);
		color: $highlited-blue;
	}
}

.bg--blue {
	background: $highlited-blue;
	margin-bottom: 4rem;
	max-height: 10vh;
}

.fill--light {
	fill: $light-bg;
}

.bg--blue ~ .quote__text{
	margin-bottom: 4rem;
}

.bg--red {
	background: $highlited-red;
	height: 60px;
}

.bg--red~.quote__text {
	color: $primary-dark;
	font-size: calc(1rem + .4vw);
}
