
@mixin section--color($bg, $col) {
    background-color: $bg;
    color: $col !important;
}

.section{
    .container{
        padding-top: 5rem;
        padding-bottom: 3em;
        &__text{
            text-align: justify;
        }
    }


    &__wave--top{
        @include scale(-1,-1);
        margin-top: -1px;
    }

    &__wave--bottom{
        margin-bottom: -5px;
    }
    &__curve{
        fill: $light-bg;
    }
}

.section--light{
    @include section--color($light-bg, $primary-dark);
}

.section__apartment{
    &::after{
        background: no-repeat right bottom /cover url('../assets/img/byt1.jpg');
        background-attachment: fixed;
    }
}


.section--dark{
    padding: 0;
    @include section--color($blue-bg, $primary-dark);
    position: relative;
    z-index: 5;

    &::after{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        z-index: -2;
        opacity: .13;
    }
}
