.contact {

	&__icon{
		height: 1.5em;
		width: 1.5em;
		margin: .5rem;

		@include ap-1{
			height: 2em;
			width: 2em;

		}
	}

	.row{
		justify-content: center;
	}
	.grid {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 1max-content 300px 1max-content 1max-content;
		grid-template-areas: "name""image""quotes""formul";
		text-align: center;
		grid-row-gap: 2rem;
		margin-top: 4rem;

		@include lg {
			grid-template-columns: 35% 65%;
			grid-template-rows: 1max-content 1max-content 1max-content;
			grid-template-areas: "image quotes""image name""image formul";
			grid-column-gap: 1em;
			grid-row-gap: 2rem;

			.grid__image {
				height: 100%;
				width: 100%;
			}
		}

		&__name {
			grid-area: name;

			.contact__heading {
				font-size: 2.3em;
				color: $highlited-red;
			}
		}

		&__image {
			grid-area: image;
			@include justify-self(center);
			height: 300px;
			width: 60%;
			background: no-repeat center center/cover url('../assets/img/profil.jpg');
			border-radius: 25px;
			position: relative;
			overflow: hidden;

			.backside{
				position: absolute;
				bottom: 0;
				right: 0;
				background-color: $light-bg;
				width: 100%;
				height: 100%;
				padding: 1rem;
				bottom: -100%;
				right: -100%;
				border-radius: 4rem 0 0 0;
				@include translate(-4.5rem, -4.5rem);
				@include transition(transform 200ms ease, border-radius 200ms ease);



				&:hover {
					padding: 0;
					cursor: default;
					@include translate(-100%, -9rem);
					border-radius: 0 ;

					.plus{
						display: none;
					}

					.contact__phone{
						margin: 1rem 0;

						@include ap-1{
							margin: .5rem 0;
							flex-direction: row;
						}
					}

					.topw{
						@include ap-1{
							opacity: 1;
							@include translate(0, -95%);

						}
					}
				}

				.topw{
					display: none;
					@include ap-1{
						display: block;
						width: 100% !important;
						@include translate(100%, 100%);
						opacity: 0;
						@include transition(transform 150ms ease);
						.curve{
							width: 100%;
							fill: $light-bg;
						}
					}

				}

				.plus{
					text-align: left;
					font-size: 3rem;
					margin: -0.5rem 0 1rem .5rem;

					@include ap-1{
						margin-top: -1.5rem;
					}
				}
			}
		}

		&__quote {
			grid-area: quotes;
			text-align: left;
		}

		&__form {
			grid-area: formul;
		}
	}
}
