.contact {
	.grid {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 1max-content 300px 1max-content 1max-content;
		grid-template-areas: "name""image""quotes""formul";
		text-align: center;
		grid-row-gap: 2rem;

		@include lg {
			grid-template-columns: 35% 65%;
			grid-template-rows: 1max-content 1max-content 1max-content;
			grid-template-areas: "image quotes""image name""image formul";
			grid-column-gap: 1em;
			grid-row-gap: 2rem;

			.grid__image {
				height: 100%;
				width: 100%;
			}
		}

		&__name {
			grid-area: name;
	
			.contact__heading {
				font-size: 2.3em;
				color: $highlited-red;
			}
		}
	
		&__image {
			justify-self: center;
			grid-area: image;
			height: 300px;
			width: 60%;
			background: no-repeat center center/cover url('../assets/img/profil.jpg');
			border-radius: 25px;
		}
	
		&__quote {
			grid-area: quotes;
			text-align: left;
		}
	
		&__form {
			grid-area: formul;
		}
	}
}