
.tariff__heading{
    margin: 0 0 0.5rem 0;
    text-align: center;
    text-transform: capitalize;
    font-variant: small-caps;
}




.tariff{
    @include flexbox();
	max-width: 700px;
	margin: 0 auto;
    @include justify-content(space-between);

    .tariff__row--2{

        font-weight: bold;
        margin: .2em 0;
    }

    .tariff__row--1, .tariff__row--2, .tariff__row--3{
        height: 2.5em;
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(flex-start);

        @include ap-1{
            height: 1.5em;
        }
    }

    .tariff__column--2{
        text-align: center;
        padding: 0 .5em;
    }

    .tariff__column--3{
        text-align: right;
        vertical-align: center;
    }
}
