
$extra-small: 325px;

$md: 570px;


$lg: 900px;
$xlg: 1440px;

@mixin sm {
  @media (min-width: #{$extra-small}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$md}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$lg}) {
    @content;
  }
}

@mixin xlg {
  @media (min-width: #{$xlg}) {
    @content;
  }
}