
$extra-small: 325px;

$md: 568px;


$lg:768px;
$xlg: 1440px;

$xxlg: 1920px;

@mixin ap-1 {
  @media (min-width: 428px) {
    @content;
  }
}

@mixin ap-2 {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$extra-small}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$md}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$lg}) {
    @content;
  }
}

@mixin xlg {
  @media (min-width: #{$xlg}) {
    @content;
  }
}

@mixin xxlg {
  @media (min-width: #{$xxlg}) {
    @content;
  }
}